<section id="content">
	
	<div class="row">
		<div class="span8 offset2">
		  <p>
			A T-shirt ID nasceu para acabar com esse blá-blá-blá de que moda é (só) aquilo o que está nas passarelas e revistas. Liberte-se das restrições de cores e				estampas e cria a seua própria camiseta. Do seu jeito.
				Tudo isso porque sabemos que uma boa camiseta é capaz de...
		  </p>

		</div>
	</div>

	<div class="row">
		<div class="span12 center-text">

			<ul class="balloons">
				<li>
					<p>Mudar o mundo.</p>
				</li>
				<li>
					<p>Compartilhar amor.</p>
				</li>
				<li>
					<p>Criar polêmica.</p>
				</li>
				<li>
					<p>Expor idéias.</p>
				</li>
				<li>
					<p>Causar na balada.</p>
				</li>
				<li>
					<p>Provocar sorrisos.</p>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 offset3 center-text">
			<p><br/>Estamos preparando algo especial para você. Aguarde.<br/><br/></p>
		</div>
	</div>

	
	<div class="row">
		<div class="span12">
			<br>
		</div>
	</div>
	
	<div class="row">
		<div class="span8 offset2">
			<div class="row-fluid">
				
				<div class="span6">
					<form class="well form-inline sign-up-box">
						<p>Me avise, quero ser o primeiro a saber das novidades.</p>

						<div class="control-group">
					      <!-- <label class="control-label" for="input01">Text input</label> -->
					      <div class="controls">
								<input type="text" class="input-medium focused" placeholder="E-mail">
								<button type="submit" class="btn btn-info">OK</button>
					        	<p class="help-block"><small>* Você aceita receber nossos e-mails.<br/>Mandaremos novidades, mas nada de SPAM. Fique tranquilo, não vendemos e não compartilhamos e-mails.</small></p>
					      </div>
					    </div>
					</form>
				</div>
				
				<div class="span6">
					<form class="well form-inline buy-now-box">
						<p>Não aguento esperar, quero fazer a minha agora mesmo!</p>

						<div class="control-group">
					      <!-- <label class="control-label" for="input01">Text input</label> -->
					      <div class="controls">
								<input type="text" class="input-medium" placeholder="Email">
								<button type="submit" class="btn btn-danger">OK</button>
					        	<p class="help-block"><small>* Você aceita receber e-mails.<br/>Entraremos em contato com você para fazer a sua camiseta antes do lançamento oficial. Fique atento à sua caixa de e-mails.</small></p>
					      </div>
				    	</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<hr />

</section>