<div class="row">
	<div class="span8 offset2">
	  <p class="center-text"><br/ >Obrigado! <br />Agora é só esperar, as novidades estão chegando.
	  </p>
		<p>
			<!-- Google Code for E-mail cadastrado Conversion Page -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 1002155659;
			var google_conversion_language = "pt";
			var google_conversion_format = "1";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "AI8TCNWb_AIQi93u3QM";
			var google_conversion_value = 0;
			/* ]]> */
			</script>
			<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
			</script>
			<noscript>
			<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1002155659/?value=0&amp;label=AI8TCNWb_AIQi93u3QM&amp;guid=ON&amp;script=0"/>
			</div>
			</noscript>
		</p>
	</div>
</div>
