.row
	.span8.offset2
		%p.center-text
			%br
			Obrigado!
			%br
			Agora é só esperar, as novidades estão chegando.
		%p
			/ Google Code for E-mail cadastrado Conversion Page
			:javascript
				="/* <![CDATA[ */"
				var google_conversion_id = 1002155659;
				var google_conversion_language = "pt";
				var google_conversion_format = "1";
				var google_conversion_color = "ffffff";
				var google_conversion_label = "AI8TCNWb_AIQi93u3QM";
				var google_conversion_value = 0;
				="/*	]]> */"
			%script{:src => "http://www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
			%noscript
				%div{:style => "display:inline;"}
					%img{:alt => "", :height => "1", :src => "http://www.googleadservices.com/pagead/conversion/1002155659/?value=0&label=AI8TCNWb_AIQi93u3QM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/