.alert-fixed-top
	- flash.each do |key, value|
		- message = prepare_flash_message(key, value)
		%div.alert.alert-block.fade.in{ :class => message[:class] }
			%button.close{"data-dismiss" => "alert"} ×
			%strong= message[:heading] if message[:heading]
			- message[:message].each do |m|
				= m + " "