<%
# <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tshirtid.com.br" data-text="Confira este site que quer mudar o jeito de fazer camisetas!" data-via="TshirtID" data-lang="pt" data-size="large" data-dnt="true">Tweetar</a>
# <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
# 
# <a href="https://twitter.com/TShirtID" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large" data-dnt="true">Seguir @TshirtID</a>
# <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
#
# <!-- Place this tag where you want the badge to render -->
# <a href="https://plus.google.com/116472223283206481888?prsrc=3" rel="publisher" style="display:inline-block;text-decoration:none;color:#333;text-align:center;font:13px/16px arial,sans-serif;white-space:nowrap;"><span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px;margin-top:0px;">T-shirt ID</span><span style="display:inline-block;vertical-align:top;margin-right:13px;margin-top:0px;">on</span><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="" style="border:0;width:16px;height:16px;"/></a>
%>

<p class="center-text">
	<a href="http://twitter.com/#!/TshirtID">twitter</a>
	&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="http://www.facebook.com/TshirtID">facebook</a>
	&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="https://plus.google.com/116472223283206481888" rel="publisher">Find us on Google+</a>
</p>

<span class="pull-right" style="margin-right: 2px;">&copy; T-shirt ID 2012</span>
